*{
    box-sizing:content-box;
}

body{
    margin:0px;
    font-family:cursive;
    background-color:rgba(110, 100, 158, 0.24);
    font-weight: bold;
}

.first a{
    text-decoration: none;
    color:#ff0080;
}

a :hover{
    transform: scale(1.1);
}
header{
    display:flex;
    background-color:rgb(248, 193, 219);
    justify-content: space-between;
    justify-content: center;
    padding: 1px 30px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
}
li{
    margin-left:50px;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:aliceblue;

}
nav a:hover{
    color: rgb(253, 86, 142);
    transform: scale(1.5);
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(IMG_0610.JPG);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width:100vw;
}
.first h1{
    position: absolute;
    top:50px;
    font-size: 60px ;
    color: aliceblue;
    font-family: Papyrus;
}
.first p{
    position: absolute;
    bottom: 1px;
    left: 50px;
    font-size: 27px;
    color:aliceblue;
    text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 40px #ff00de,0 0 70px #ff00de,0 0 80px #ff00de,0 0 100px #ff00de,0 0 150px #ff00de;
    float: left;
    width: 50%;
}
.first button{
    padding: 12px 24px;
    background-color:antiquewhite;
    border: none;
    color:rgb(255, 0, 191);
    border-radius: 8px;
    font-size: 24px;
    
}

.skins{
    text-align: center;
    padding: 50px 20px;
}
.skins h1{
    font-size: 40px;
    color:rgb(250, 215, 244);
    font-family:Papyrus;
    text-shadow: 0 0 10px  #aeadf3,0 0 20px  #aeadf3,0 0 30px #aeadf3,0 0 40px #ff0080,0 0 70px #ff0080,0 0 80px #ec93bb;
}
.skins div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
}
img{
    width:100%;
    height:100%;
} 


.weapons{
    text-align: center;
    padding: 50px 20px;
    
}
h2{
    font-size: 40px;
    color:rgb(242, 215, 250);
    font-family:Papyrus;
    text-shadow: 0 0 10px  #aeadf3,0 0 20px  #aeadf3,0 0 30px #aeadf3,0 0 40px #ff0080,0 0 70px #ff0080,0 0 80px #ec93bb;
}
.weapons div{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-gap: 20px;
}

.events{
    text-align: center;
    padding: 50px 20px;
}
.events div{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-gap: 20px;
}

h3{
    text-align: center;
    padding: 1px 10px;
    color:#ff0080;
}
.connect div{
    display: flex;
    justify-content: center;
}
.connect img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

footer{
    text-align: center;
    justify-content: center;
    color:aliceblue;
}